reportlab # attempting to phase this out in lieu of using fpdf (since fpdf has better text wrapping options)
fpdf2
gspread
oauth2client
bs4
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
simplegmail
todoist_api_python
pydrive
